<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/menu') %>

    <div class="container">
        <h1 class="py-5">Add new grade</h1>

        <form action="/grades/<%= student.username %>/add/<%= course.ID %>" id="form" method="POST">

            <!-- course -->
            <div class="form-group row justify-content-md-center">
                <label for="value" class="col-sm-2 col-form-label">Course</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="course" value="<%= course.Name %> <%= course.Year %>" disabled>
                </div>
            </div>

            <!-- student -->
            <div class="form-group row justify-content-md-center">
                <label for="student" class="col-sm-2 col-form-label">Student</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="student" value="<%= student.firstname %> <%= student.lastname %>" disabled>
                </div>
            </div>

            <!-- grade value -->
            <div class="form-group row justify-content-md-center">
                <label for="value" class="col-sm-2 col-form-label">Value</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" value="4.0" min="0" max="6" step="0.1" id="value" name="value" required>
                </div>
            </div>

            <!-- grade weight -->
            <div class="form-group row justify-content-md-center">
                <label for="weight" class="col-sm-2 col-form-label">Weight</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" value="0.25" min="0" max="1" step="0.05" id="weight" name="weight" required>
                </div>
            </div>

            <!-- grade type -->
            <div class="form-group row justify-content-md-center">
                <label for="type" class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-6">
                    <select class="custom-select" id="type" name="type">
                        <option value="Test" selected>Test</option required>
                        <option value="Labo">Labo</option>
                        <option value="Exam">Exam</option>
                      </select>
                </div>
            </div>

            <!-- submit button -->
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" onClick="loading(this);" class="btn btn-success float-right">Save</button>
                </div>
            </div>
        </form>
    </div>

    <%- include('partials/script') %>
</body>

</html>