<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/menu') %>

    <div class="container">
        <h1 class="py-5">Students</h1>

        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-striped">
                <% for(var i = 0; i < students.length; i++) { %>
                <tr>
                    <td><%= students[i].firstname %></td>
                    <td><%= students[i].lastname %></td>
                    <td><%= students[i].username %></td>
                    <td><a href="/students/delete/<%= students[i].username %>" class="btn btn-outline-danger btn-sm float-right">Remove</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <a class="btn btn-primary float-right mt-5" href="/students/add" role="button">Add student</a>
    </div>
    
    <%- include('partials/script') %>
</body>

</html>